<div class="modal-header">
  <h5 class="modal-title">Group Details</h5>
</div>

<div class="modal-body modal_body_scroll">
  <div class="modal_body_blockBg modal_cont_scroll">
    <div class="modalBody_row">
      <p>
        <strong>Group Name : &nbsp; </strong> {{groupData?.name}}
      </p>
    </div>
    <div class="modalBody_row">
      <p>
        <strong>Group Description : &nbsp; </strong> {{groupData?.description}}
      </p>
    </div>
    <div class="modalBody_row">
      <p>
        <strong>Comunity Name : &nbsp; </strong> {{groupData?.myCommunity?.communityName}}
      </p>
    </div>
    <div class="modalBody_row">
      <p>
        <strong>Comunity Description : &nbsp; </strong>
      </p>
      <p>
        {{groupData?.myCommunity?.communityDescription}}
        What is Lorem Ipsum?
        Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's
        standard dummy text ever since the 1500s, when an unknown printer took a
        galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also
        the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the
        release of Letraset sheets containing Lorem Ipsum passages,
        and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.
      </p>
    </div>

    <div class="modalBody_row mt_20">
      <p>
        <strong>Group Members : &nbsp; </strong> <span class="count_num_show count_num_show_modal">4</span>
      </p>
    </div>

    <div class="modal_user_row">
      <div class="modal_user_row_left">
        <span class="modal_user_row_avatar">
          <img src="assets/images/header-user.png">
        </span>
        <h4>Abhisek Mannna <br>
          <span><b>Phone No. -</b> 7686080075</span> | <span><b> Age -</b> 36</span>
        </h4>
      </div>
    </div>

    <div class="modal_user_row">
      <div class="modal_user_row_left">
        <span class="modal_user_row_avatar">
          <img src="assets/images/header-user.png">
        </span>
        <h4>Abhisek Mannna <br>
          <span><b>Phone No. -</b> 7686080075</span> | <span><b> Age -</b> 36</span>
        </h4>
      </div>
    </div>
    <div class="modal_user_row">
      <div class="modal_user_row_left">
        <span class="modal_user_row_avatar">
          <img src="assets/images/header-user.png">
        </span>
        <h4>Abhisek Mannna <br>
          <span><b>Phone No. -</b> 7686080075</span> | <span><b> Age -</b> 36</span>
        </h4>
      </div>
    </div>
    <div class="modal_user_row">
      <div class="modal_user_row_left">
        <span class="modal_user_row_avatar">
          <img src="assets/images/header-user.png">
        </span>
        <h4>Abhisek Mannna <br>
          <span><b>Phone No. -</b> 7686080075</span> | <span><b> Age -</b> 36</span>
        </h4>
      </div>
    </div>

    <div class="modalBody_row mt_20">
      <p>
        <strong>Invited Events : &nbsp; </strong> <span class="count_num_show count_num_show_modal">4</span>
      </p>
    </div>
    <div class="modalBody_row flex_wrap_row gap_5">
      <span class="capsule_small bg_pink color_white mr_10">New Events Name -- ABCD</span>
      <span class="capsule_small bg_pink color_white mr_10">New Events Name -- pqr</span>
      <span class="capsule_small bg_pink color_white mr_10">New Events Name -- xyz</span>
    </div>


  </div>



</div>
